.feedTweet {
    border-bottom: 1px solid rgb(63, 63, 63);
    padding: 20px;
    justify-content: space-between;
    display: flex;
}

.feedTweet:hover {
    background-color: #eeeeee;
}

.completeTweet {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    width: 89%;
    gap: 10px;
}

.interactions {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    gap: 150px;
}

.interactionNums {
    color: #3f3f3f;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 10px;
    border-radius: 1000px;
}

.interactionNums:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.who {
    display: flex;
    gap: 10px;
    font-weight: 600;
    align-items: center;
}

.accWhen {
    font-size: 15px;
    font-weight: 400;
    color: gray;
}

.tweetContent {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

.tweetImg {
    width: 98%;
    border-radius: 10px;
}